@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

.montserrat-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@layer components {
  .nav-link {
    @apply 
    px-3
  hover:text-secondary
  }
  .title-xl {
    @apply montserrat-title text-6xl text-light 
  }
  .project-card {
    @apply border-4 border-dark rounded-md bg-dark
  }
  .project-title {
    @apply montserrat-title text-4xl sm:text-3xl text-light my-5
  }
  .project-body {
    @apply montserrat-title indent-8 text-2xl sm:text-base text-light mb-5 ms-2 text-start
  }
  img.portrait-xl {
      object-fit: cover;
      margin-right: 0;
      max-width: 335px;
      max-height: 390px;
      height: auto;
  }
  .project-image-portrait {
    object-fit: cover;
    margin-right: 0;
    max-width: 180px;
    height: auto;
  }
  .project-image-landscape {
    object-fit: cover;
    margin-right: 0;
    width: auto;
    max-width: 481px;
    max-height: 264px;
  }
  .paragraph-info {
    @apply montserrat-title text-2xl text-light text-wrap indent-8
  }
  .tech-badge {
    @apply 
    montserrat-title 
    text-xl
    lg:text-base
    md:text-sm
    sm:text-xs
    text-nowrap 
    p-2 
    text-dark 
    border-secondary 
    border-2
    rounded-3xl 
    bg-secondaryLight
    w-fit
  }
  .github-button {
    @apply montserrat-title text-lg text-dark bg-light rounded-md p-2 my-5 shadow-xl animate-bounce
  }
  img.shadow-round {
    @apply
    aspect-auto rounded-md hover:shadow-lg hover:shadow-secondaryLight hover:translate-y-1
  }
  @media (max-width: 640px) {
    img.portrait-sm {
        object-fit: cover;
        max-width: 170px;
        max-height: 180px;
        height: auto;
        width: auto;
    }
    .project-image-landscape {
      object-fit: cover;
      max-width: 363px;
      max-height: 199px;
      height: auto;
      width: auto;
    }
  }
  .list-element {
    @apply text-light
  }
}